################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/Applicazione_debiti_v2/v16/Server/sqlite3
/.vs/Applicazione_debiti_v2/v16
/.vs
/Applicazione_debiti_v2/bin/Debug
/Applicazione_debiti_v2/obj
